@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  -webkit-touch-callout: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
}

body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
}

img {
  border-radius: 15px;
  display: block;
  width: 350px;
}

.app {
  width: 100vw;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search button {
  border: none;
  background-color: #d0d8d8;
  color: #3a3b3b;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0.63rem;
  cursor: pointer;
  border-left: 1px solid white;
}

.search__button,
.search__input {
  font-size: 1.5rem;
}

.search__input {
  border: none;
  background-color: #d0d8d8;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  outline: 1px solid white;
  padding: 0.5rem;
}
.search__input:focus,
.search button:focus {
  outline: 1px solid rgb(51, 205, 161);
}

.search__button {
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

article {
  width: 350px;
  height: 450px;
  margin-bottom: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h2,
p {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
p {
  margin-top: 0;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }
}
